.row1 > div {
  padding: 30px;
}
.row2 > div {
  padding: 0 30px;
}
.container {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.container h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.footer_links
{
  padding-left:0;
  list-style:none
}