.title{
    text-align: center;
}
.form{
    /* margin: auto; */
    margin:5% 15% 10%;
    border:1px solid black
}
.ng_hoc_ng_than{
    padding: 20px 0 0 0;
}
.btn_ng_hoc_ng_than{
    padding: 20px 0;
}