.table tr th{
    padding: 10px !important;
}
.table tr td {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.table{
    padding: 1%;
}
.note{
    /* padding: 0 0 1% 0; */
    margin-top: -15px;
}