html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

a {
  color: inherit;
  text-decoration: none;
}

/* * {
  box-sizing: border-box;
} */
.main {
  min-height: 100vh;
  width: 100%;
  margin: 100px 0 70px 0;
}
.main_home_page {
  min-height: 100vh;
  width: 100%;
  margin: 0 0 70px 0;
}
.backgro_img {
  background-image: url("/Screenshot_6.png");
  margin-top: -20px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
  width: 100%;
  margin-right: auto;
  background-attachment: fixed;
  background-position: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
.imgIconup {
  height: 30px;
  width: auto;
  animation-name: img;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
